.Button{
    border: 0;
    border-radius: 5px;
    margin: 0 1vw;
    padding: 0.5vw 1.2vw;

    text-decoration: none;
    /* text-align: center;
    text-justify: inter-word; */
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 100px; */
}

.Button:hover {
    filter: contrast(0.75);
    cursor: pointer;
}

/* Tag Sizes */
.btn_normal{
    width: 110px;
    font-size: 14px;
}

.btn_1{
    width: 200px;
    height: 50px;
    font-size: 20px;    
}

.btn_2{
    width: 300px;
    height: 100px;
    font-size: 25px;    
}