
.ToggleTheme{
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    width: 30px;
    height: 30px;
}

.ToggleTheme button {
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 100%;
    background-size: cover;
    border: 0;
    background-color: transparent;
}