.SectionHowTo{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    justify-content: space-around;
    align-items: center;

    /* background-color: var(--background-primary); */
}

.SectionHowTo > h1{
    width: fit-content;
}

.grid-1-3{
    display: flex;
    justify-content: space-between;

    width: 60%;
    height: fit-content;
    margin-left: 20%;
    margin-right: 20%;
}