.SectionRotating{
    width: 100%;
    height: 80vh;

    display: flex;
    min-height: 100vh;
}

.box{
    /* background-image: url("/src//Assets/Images/LogoBank.png"); */
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    /* atribustes of the animation:
    20s - duration of the animation

    */
    animation: animate 20s linear infinite;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: 0;
}

@keyframes animate{
    /* atributes:
    Perspective: adjust the distance of the object in animation
    RotateY: rotation in Y axis
    RotateZ: rotation in Z axis
    */
    0%{
        transform: perspective(10000px) rotateY(0deg) rotateZ(2deg);
    }
    50%{
        transform: perspective(100000px) rotateY(180deg) rotateZ(2deg);
    }
    100%{
        transform: perspective(100000px) rotateY(360deg) rotateZ(2deg);
    }
}

.SectionRotating span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;

    /* ============= Mudar aq de acordo com o nº de imgs ==============  */
    /* ============================== \/ ==============================  */
    transform: rotateY(calc(var(--i)*45deg)) translateZ(400px);
    --webkit-box-reflect: below 0px linear-gradient(transparent, transparent, #0004) ;
    
}

.SectionRotating span img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;

}