.SectionRotating{
    width: 100%;
    height: 80vh;

    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr 1fr;
}

.box{
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
    width: 10vw;
    height: 10vw;
    transform-style: preserve-3d;
    /* atribustes of the animation:
    20s - duration of the animation

    */
    animation: animate 10s linear infinite;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: 0;
}

.Aside-Text{
    align-self: center;
    justify-self: center;
    width: 90%;
}

.Aside-Text__title{
    text-align: start;
    color: var(--color-primary);
    font-size: 48px;
}

.Aside-Text__item{
    height: 100%;
    aspect-ratio: auto;
}

.Aside-Text__item{
    text-align: start;
    margin-top: 5%;
    width: 80%;
    margin: 2% auto;
    font-size: 24px;

    font-weight: 600;
    color: var(--color-primary);
}

.Aside-Text__btn{
    color: var(--font-color-2);
    text-decoration: none;
    text-align: center;
}

.Aside-Text__btn .Button{
    margin: 10% auto;
    padding: 1rem;
    background-color: var(--color-primary);
    width: 30%;
}

@keyframes animate{
    /* atributes:
    Perspective: adjust the distance of the object in animation
    RotateY: rotation in Y axis
    RotateZ: rotation in Z axis
    */
    0%{
        transform: perspective(100000px) rotateY(0deg) rotateZ(2deg)
    }
    50%{
        transform: perspective(100000px) rotateY(180deg) rotateZ(2deg);
    }
    100%{
        transform: perspective(100000px) rotateY(360deg) rotateZ(2deg)
    }
}

.SectionRotating span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;

    /* ============= Mudar aq de acordo com o nº de imgs ==============  */
    /* ============================== \/ ==============================  */
    transform: rotateY(calc(var(--i)*45deg)) translateZ(20vw);
    --webkit-box-reflect: below 0px linear-gradient(transparent, transparent, #0004) ;
}

.SectionRotating span img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;

}
.Aside-img--mobile{
    display: none;
}

@media (max-width:1200px){
    .box{
        display: none;
    }
    .Aside-img--mobile{
        display: flex;
        align-self: center;
        justify-self: center;

        width: 40vw;
        aspect-ratio: auto;
    }
}
@media (max-width:900px) {
    .SectionRotating{
        height: 60vw;
    }
    .Aside-Text__title{
        font-size: 30px;
    }
    .Aside-Text__item{
        font-size: 20px;
        margin: 5% auto;
    }
}

@media (max-width:700px){
    .SectionRotating{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 5%;
    }
    .Aside-img--mobile{
        width: 60vw;
        margin: 10%;
    }
    .Aside-Text__title{
        font-size: 24px;
    }
    .Aside-Text__item{
        font-size: 16px;
    }
}