
/* Header container */
.header {
    height: 8vh;
    width: 100vw;
    min-height: 70px;
    
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    padding: 1vh;
    top: 0;
    left: 0;
    z-index: 100;
}

/* Header Image Logo */
.header > a, .header__img {
    height: 100%;
    cursor: pointer;
}

/* Header links area */
.header-links {
    display: flex;
    justify-content: flex-end;
    width: 70vw;
    align-items: center;
}

/* Login and Sing up Buttons */
.header .Button {
    margin: 0 1vw;
}

.header__a {
    font-weight: 400;
    margin: 0 2vw;
    text-decoration: none;
    display: inline-block;
    position: relative;
    color: var(--font-color-1);
}

.header__a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.2s ease-out;
}

.header__a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.menu{
    display: none;
}

@media (max-width:950px){
    .header{
        flex-direction: column;
        height: fit-content;
    }
    .header__logo{
        height: 6vh !important;
        margin: 2vh;
    }
    .header-links{
        display: none;
        flex-direction: column;
    }
    .header-links > *, .header-links > .Button{
        margin-top: 2vh;
    }
    .menu{
        display: flex;
        height: 5vh;
        width: 4vh;

        position: absolute;
        top: 3.5vh;
        right: 5vw;
    }
    .menu-show{
        display: flex;
    }

}