.header-container {
    position: fixed;
    background-color: var(--background-primary);

    display: flex;
    justify-content: space-around;
    height: 7vh;
    align-items: center;
    padding: 1vh;
    width: 100vw;
}

.header-container > img {
    height: 100%;
    filter: drop-shadow(1px 1px #000);
    cursor: pointer;
}

.header-links {
    display: flex;
    justify-content: flex-end;
    width: 70vw;
    align-items: center;
}