.header-container{
    /* border: 1px solid red; */
    background-color: var(--background-header);

    display: flex;
    justify-content: space-around;
    height: 7vh;
    align-items: center;
    padding: 1vh;
}

.header-container > img{
    height: 100%;
}

.header-links{
    /* border: 1px solid green; */

    display: flex;
    justify-content: flex-end;
    width: 70vw;
    align-items: center;
}

.header-links > a{
    margin: 0 2vw;
    /* text-align: center; */
    text-decoration: none;
}

.header-links > button {
    /* background-color: rgb(255, 0, 0); */
    color: var(--background-button);

    border: 0;
    border-radius: 5px;
    margin: 0 2vw;
    padding: 0.5vw 1.5vw;
    font-size: 14px;
    font-weight: bold;
}

.login{
    background-color: ;
}