.header-container {
    /* border: 1px solid red; */
    background-color: var(--background-primary);

    display: flex;
    justify-content: space-around;
    height: 7vh;
    align-items: center;
    padding: 1vh;
}

.header-container>img {
    height: 100%;
    filter: drop-shadow(1px 1px #000);
    cursor: pointer;
}

.header-links {
    display: flex;
    justify-content: flex-end;
    width: 70vw;
    align-items: center;
}

.header-links>a {
    margin: 0 2vw;
    text-decoration: none;
    color: var(--font-color-1);
    font-weight: 300;
}

.header-links button {
    border-radius: 5px;
    margin: 0 1vw;
    padding: 0.5vw 1.2vw;
    
    text-justify: inter-word;
    font-weight: 700;
    font-size: 14px;
    width: 100px;
}

#login {
    background-color: var(--background-primary);
    border: 2px solid var(--color-primary);
    /* color: var(--font-color-1); */
    color: var(--color-primary);
}


/* =================== */

.a-animation {
    display: inline-block;
    position: relative;
    color: var(--color-primary);
}

.a-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.2s ease-out;
}

.a-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}