@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;  
}

:root{
  --background-primary: #FFF;
  --background-secondary: #cacaca;
  --color-primary: #007BFF;
  --color-secondary: #0006A1;
  --color-tertiary: #00EDBF ;
  --font-color-1: #000000 ;
  --font-color-2: #fff;
}

[data-theme="dark"]{
  --background-primary: #151515;
  --background-secondary: #3f3f3f;
  --color-primary: #2890ff;
  --color-secondary: #2890ff;
  --color-tertiary: #16dc7c ;
  --font-color-1: #ffffff ;
  --font-color-2: #000000;
}