:root {
  --background-primary: #FFF;
  --background-secondary: #f7f7f7;
  --color-primary: #007BFF;
  --font-color-1: #000000;
  --font-color-2: #FFF;
  --error: rgb(199, 0, 0);
}

[data-theme="dark"] {
  /* --background-primary: #202020; */
  /* --background-secondary: #3f3f3f; */
  --background-primary: #202020;
  --background-secondary: #252525;
  --color-primary: #007BFF;
  --font-color-1: #ffffff;
  --font-color-2: #000000;
  --error: rgb(199, 0, 0);
}