@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  transition: all 0.3s ease-in-out;
  box-sizing: border-box;
}

.no-select{
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  /* pointer-events: none; */
}

/* === TAGS: boxes === */

.box-primary{
  background-color: var(--color-primary);
  color: var(--font-color-2);
  cursor: pointer;
}

.box-primary:hover{
  background-color: transparent;
  color: var(--color-primary);
  cursor: pointer;

  border: 1px solid var(--color-primary);
  border-radius: 5px;
}

.box-primary-empty{
  background-color: transparent;
  color: var(--color-primary);
  cursor: pointer;
}

.box-primary-empty:hover{
  background-color: var(--color-primary);
  color: var(--font-color-2);
  cursor: pointer;
}

.box-primary-static{
  background-color: var(--color-primary);
  color: var(--font-color-2);
  cursor: pointer;
}


/* === TAGS: background === */

.bg-primary{
  background-color: var(--background-primary);
}

.bg-secondary{
  background-color: var(--background-secondary);
}

.bg-primary-color{
  background-color: var(--color-primary);
}


/* === TAGS: border === */

.bd-none{
  border: none;
}

.bd-primary-thin{
  border: 1px solid var(--color-primary);
}

.bd-primary-normal{
  border: 2px solid var(--color-primary);
}

.bd-primary-bold{
  border: 4px solid var(--color-primary);
}

.bd-rd-1{
  border-radius: 5px;
}

.bd-rd-2{
  border-radius: 50px;
}

/* === TAGS: color === */

.color-primary{
  color: var(--color-primary);
}

.color-text-2{
  color: var(--font-color-2);
}

.paddin-header{
  padding-top: 8vh;
}