.Footer{
    width: 100%;
    height: 30vh;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Footer img{
    width: 30%;
    max-width: 250px;
}

.Footer h3{
    font-size: 23px;
}

.Footer a{
    color: var(--font-color-2);
    text-decoration: none;
    font-size: 17px;
}

.Footer ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    list-style: none;
    height: 80%;
    width: 20%;
}

.Footer li{
    padding-left: 25px;
}

.slim{
    height: 15vh;
}
.slim img{
    height: 10vh;
}