.Footer{
    width: 100%;
    height: 30vh;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Footer__logo{
    height: 80%;
    max-width: 250px;
    object-fit: contain;
}

.Footer__title{
    font-size: 23px;
}

.Footer__link{
    color: var(--font-color-2);
    text-decoration: none;
    font-size: 17px;
    margin-left: 25px;
}


.Footer__list{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    list-style: none;
    height: 80%;
    width: 20%;
    min-width: fit-content;
}
.Footer__list_item{
    height: fit-content;
    padding: 0;
}

.filter-dark{
    filter: brightness(0.18);
}
.filter-light{
    filter: brightness(1);
}

.slim{
    height: 15vh;
}
.slim img{
    height: 10vh;
}

@media (max-width:1200px){
    .Footer{
        height: 20vh;
    }
}

@media (max-width:900px){
    .Footer{
        height: 15vh;
    }
    .Footer__link{
        font-size: 1.7vh;
    }
    .Footer__logo{
        max-width: 30%;
    }
}

@media (max-height:900px){
    .Footer__title{
        display: none;
    }
}